.iconoEditar {
  color: #0f0fac;
  font-size: 20px;
}

.iconoBorrar {
  color: #a91616;
  font-size: 20px;
}
.tamanoMaximoNoFoto{
  width: 300px;
}
.imagen{
  width: 200px;
}
.sizeImage{
  width: 100px;
}